body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.header {
	text-align: center;
	color: beige;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 2px 2px 8px #3A6968;
}

.projects {
	color: white;
	text-align: center;
	padding-bottom: 1em;
	padding-top: .75em;
	font-family: 'Ubuntu', sans-serif;
}

.carousel-item {
	border-radius: 50%;
}

.dadjoke {
	text-align: center;
	color: beige;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 4px 4px 10px black;
}

.portrait {
	width: 100%;
	border-radius: 50%;
}

.aboutme {
	padding-top: 2em;
	padding-bottom: 2em;
	color: beige;
}

.mtn-pic {
	width: 100%;
}

