html {
	background-color: black;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	max-width: 100%;
	opacity: 1;
	transition: 5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}
main {
	flex: 1 0 auto;
}

#logo.parallax-container {
	height: 50em;
}

#vonnegut.parallax-container {
	height: 15em;
}

.header {
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 2px 2px 1px #3A6968;
}

.projects {
	color: white;
	text-align: center;
	padding-bottom: 2em;
	padding-top: .75em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 2px 2px 1px #3A6968;
}

.project-poster {
	width: 80%;
	border-radius: 1em;
}

.dadjoke {
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 4px 4px 10px black;
}

.dadjoke p {
	font-size: 2em;
}

.portrait {
	width: 100%;
	border-radius: 1em;
}

.aboutme {
	padding-top: 2em;
	padding-bottom: 2em;
	color: beige;
	border-top: solid white 1px;
}

.mtn-pic {
	width: 100%;
}

.wibroje-logo {
	width: 20em;
}

.project-posters {
	padding-top: 2em;
	padding-bottom: 1em;
    box-shadow: 3px 10px 8px #888888;
    text-align: center;
}

.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

.logoglow {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 2s linear;
	-o-transition: all 2s linear;
	transition: all 2s linear;	
}

.logoglow.active {
	-webkit-filter: drop-shadow(0px 0px 2em rgba(255, 255, 255, 0.8));
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 425px) {
	.fa-python {
		font-size: 2em;
	}

	.fa-js {
		font-size: 2em;
	}

	.fa-node-js {
		font-size: 2em;
	}

	.fa-react {
		font-size: 2em;
	}

	.fa-linkedin-in {
		font-size: 4em;
	}

	.fa-github {
		font-size: 4em;
	}
}
