body {
	background-image: url(https://i.pinimg.com/originals/90/56/5d/90565d7a4aa3b588953fbf52a5850b5d.jpg);
}

h1 {
	color: white;
	text-align: center;
}

.bg-light {
	background-color: black;
}

.navbar-brand {
	color: white;
}

#navbar-bg {
	background: linear-gradient(black, grey);
}

.nav-items {
	color: white;
}

.projects {
	color: white;
	height: 200px;
	width: 100%;
	border: solid white 5px;
	border-radius: 25%;
	padding: 10px 10px;
	
}